### Project specific
config/pw.php
htdoc/js/*.min.js
htdoc/css
script/less/bootstrap/tests
sftp-config.json
lib/kerns-dummy/

### Editor specific
# PhPStorm specific
.idea/

# SublimeText specific
*.sublime-workspace
*.sublime-project

## Vim specific
.*.sw[a-z]
*.un~
Session.vim
.netrwhist

### OS specific
## Mac specific
.DS_Store
.AppleDouble
.LSOverride


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
