@import 'base.bootstrap.less';

body {
  background: white;
  text-shadow: 0px 1px 0px #FFF;
}

#wrap {
  position: relative;
}

.breadcrumb {
  background-color: transparent !important;
}

// fix missing caret
input[type=datetime-local],
input[type=date] {
  font: 99% sans-serif;
  display: -webkit-inline-flex !important;
}

