@import 'base.bootstrap.less';

body {
  background: white;
  text-shadow: 0px 1px 0px #FFF;
}

@nav_available_height: 42px;
@logo_padding: 2px;
#home_logo {
  padding: @logo_padding 10px @logo_padding 20px;
  height: @nav_available_height - @logo_padding * 2;
  div {
    width: 100px;
    height: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

#wrap {
  position: relative;
}

.breadcrumb {
  background-color: transparent !important;
}

// fix missing caret
input[type=datetime-local],
input[type=date] {
  font: 99% sans-serif;
  display: -webkit-inline-flex !important;
}


.pagination {
  list-style: none;
  @pager-size: 20px;
  .pager {
    display: inline-block;
    width: @pager-size;
    height: @pager-size;
    margin: 5px;
    padding: 5px;
    font-size: 18px;
    font-family: Georgia;

    text-shadow: 0px 1px 0px #FFF;
  }
  .pager.active {
    .border-radius(@pager-size);
    background-color: #DDD; //@color-warm;
  }
  .pager.inactive {
    visibility: hidden;
  }
}